


html {
    scroll-behavior: smooth;
}

body {
    display: inline;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffe6e6; 
    opacity: 0; 
    animation: slideIn 3.5s ease-out forwards; 


    background-image: url(background.png); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
   
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
        opacity: 1; 
    }
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 175px;
}
#logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.7s ease;
}

#logo:hover{
    transform: scale(1.5);
    
}

a {
     text-decoration: none; 
      color: inherit; 
}



#company-name {
    background-color: #ff66b2; 
    padding: 20px 40px;
    border-radius: 20px;
    margin-top: 20px;
    align-items: center;
    cursor: pointer;
    transition: transform 0.7s ease;
    display: inline-block;
    text-align: center; 
    text-decoration: none; 
}



#company-name:hover {
    transform: scale(1.1);
    color: black;
    background-color: #ff3385; 
 }






#company-description {
    margin: 20px 0;
    text-align: justify;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    
}

#divider {
    width: 80%;
    border-top: 5px dashed #ff66b2; 
    margin: 20px 0;
}

#team-header {
    font-weight: bold;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 60px;
    cursor: pointer;
    transition: color 0.5s ease;
}

#team-header:hover{
    color: #ff3385;
}



#leadership-button {
    background-color: #ff66b2; 
    color: #fff;
    padding: 15px 30px;
    border-radius: 15px;
    margin-top: 35px;
    cursor: pointer;
    transition: transform 0.7s ease;

}


#founder-container,
#vp-container,
#development-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-bottom: 30px;
  
  
}

#development-container {
    margin: 40px;

}

.person, .developer {
    width: 120px;
    height: 120px;
    border-radius: 25%;
    margin: 25px;
    background-color: #ccc; 
    overflow: hidden;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.person:hover, .developer:hover {
transform: scale(1.1);
transition: transform 0.3s ease; 
}



.person img, .developer img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;

    
}

.person img:hover, .developer img:hover {
filter: saturate(200%);
transition: filter 0.3s ease; 
}

.person-details, .developer-details {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(97, 86, 86, 0.8);
  padding: 1px;
  color: #fff;
}

.person-details p, .developer-details p {
    margin: 0; 
    font-size: 12px; 
}

.color-text {
    color: pink;
}


#development-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    padding: 0 20px;

}
.icon {
  margin-right: auto;
}

#development-button {

    background-color: #ff66b2; 
    color: #fff;
    padding: 15px 30px;
    border-radius: 15px;
    margin-top: 20px;
    transition: transform 0.7s ease;
    cursor: pointer;

    
    
}


#sales-button
{
    background-color: #ff66b2; 
    color: #fff;
    padding: 15px 30px;
    border-radius: 15px;
    margin-top: 60px;
    transition: transform 0.7s ease;
    cursor: pointer;
}

#developer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

#leadership-button:hover,
#development-button:hover,
#sales-button:hover {
    background-color: #ff3385; 
    color: #fff; 
    transform: scale(1.1); 
}



.developer {
    width: 100px;
    height: 100px;
    border-radius: 25%;
    margin: 10px;
    background-color: #ccc; 
    overflow: hidden;
    text-align: center;
}

.developer img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}



@media screen and (max-width: 600px) {
    
    body {
        margin-top: 50px; 
    }

    #container {
        margin-top: 50px; 
        margin-bottom: 50px; 
    }

    #company-name {
        padding: 15px 30px; 
        font-size: 20px; 
    }

    #company-description {
        max-width: 75%; 
    }

    #founder-container,
    #vp-container,
    #development-container {
        margin-top: 30px; 
        margin-bottom: 30px; 
    }

    .person,
    .developer {
        width: 80px; 
        height: 80px; 
        margin: 15px; 

    #development-button,
    #sales-button,
    #leadership-button {
        padding: 10px 20px; 
        font-size: 16px; 
    }

    #development-container {
        margin: 20px; 
    }
} 